<footer>
    <div class="container">
        <div class="row">
            <nav class="d-flex justify-content-center">
                <ul class="col-12 p-2 d-flex justify-content-around">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>