<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/9732a55196.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
    <!-- Estilos generales -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Estilos propios de la pagina -->
    <link rel="stylesheet" href="/css/<%= page %>.css">
</head>