<header>
    <div class="container">
        <!-- Primera fila -->
        <div class="row">
            <!-- Main header -->
            <div class="main-header d-flex flex-wrap justify-content-around align-it align-items-center">
                <!-- Logo -->
                <div class="col-2 col-md-1">
                    <div class="row">
                        <a href="/" class="" aria-label="Página principal"><i class="logo far fa-gem"></i></a>
                    </div>
                </div>

                <!-- Busqueda -->
                <div class="col-8 col-md-10 col-lg-5">
                    <form action="" method="get" class="search justify-content-center">
                        <input class="search" type="text" name="search" placeholder="Buscar productos y categorías" aria-label="Buscar productos y categorías">
                        <button type="submit" class="search" aria-label="Buscar"><i class="fas fa-search icon"></i></button>
                    </form>
                </div>

                <!-- Navegacion en desktop -->
                <div class="d-none d-lg-inline-block col-6">
                    <nav class="d-flex justify-content-around">
                        <ul class="d-flex justify-content-around">
                            <li class="m-1"><a href="">Ofertas</a></li>
                            <span class="m-1" aria-hidden="true">|</span>
                            <li class="m-1"><a href="">Tiendas Oficiales</a></li>
                        </ul>
                        <ul class="d-flex justify-content-around">
                            <li class="m-1"><a href="/usuario/crear">Creá tu cuenta</a></li>
                            <span class="m-1" aria-hidden="true">|</span>
                            <li class="m-1"><a href="/usuario/ingresar">Ingresá</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- Boton para mobile y tablet -->
                <div class="col-2 col-md-1 d-lg-none">
                    <button class="links-button btn" type="button" data-toggle="collapse" data-target="#collapse"
                        aria-expanded="false" aria-controls="collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>   
            </div>
            <!-- /Main header -->
        </div>
        <!-- /Primera fila -->

        <!-- Fila para mobile y tablet -->
        <div class="row d-lg-none">
            <div class="collapse" id="collapse">
                <nav class="d-flex justify-content-around justify-content-md-center">
                    <ul class="col-6 d-md-flex justify-content-md-around">
                        <li class="mt-3"><a href="">Ofertas</a></li>
                        <li class="mt-3"><a href="">Negocios</a></li>
                    </ul>
                    <ul class="col-6 d-md-flex justify-content-md-around">
                        <li class="mt-3"><a href="/usuario/crear">Creá tu cuenta</a></li>
                        <li class="mt-3"><a href="/usuario/ingresar">Ingresá</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /Fila para mobile y tablet -->
    </div>
</header>